.container {
    display: flex; 
    // justify-content: space-between;
    // align-items: flex-start;

  }

  
  .userProfile {
    flex: 1; 
    margin-left: 16vw;
    margin-top: 30vh;

  }

  .rightColumn {
    margin-right: 16vw;
    margin-top: 30vh;
  }

  .rightColumn > div {
    margin-bottom: 4vh; 
  }
  
//   .rightColumn > div:last-child {
//     margin-bottom: 0; 
//   }
  