@import "../../variables";

input {
  display: flex;
  border-radius: 3;
}

.label {
  color: white;
  font-size: 200%;
}

input {
  width: 100%; /* Input fields will take up the full width of the container */
  max-width: 350px; /* Limit input field width to ensure a good fit */
  margin-bottom: 1rem; /* Adds spacing between fields */
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: $light-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sheet {
  color: $yellow-button;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  width: 100%; /* Allows it to shrink or grow based on content */
  max-width: 400px; /* This caps the width to a reasonable size */
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.button {
  margin-top: 10px;
  align-self: center;
  width: 10vw;
  height: 4vh;
  border-radius: 10px;
  background-color: $yellow-button;
  border: none;
  font: inherit;
  color: #202a45;
  outline: none;
  font-size: 1.5rem;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: darken($yellow-button, 10%);
}

form {
  display: flex;
}
