@import "../../../variables"; 

.container {
  height: 100vh;
  width: 100vw;
  opacity: 95%;
  background: hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sheet {
  color: $yellow-button;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.close {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    position: absolute;
    background: transparent;
    right: 20px;
  }
  
  .close:hover {
    color: darken($secondary-yellow, 10%);
  }