.container {
	display: flex;
	flex-direction: column;
	width: 35vw;
	height: 39vh;
	border-radius: 10px;
	background-color: var(--dark);
	padding: 30px;
	color: white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.table {

}

.title {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: left;
	font-size: 2rem;
	gap: 0.5vh;
	margin-top: 3vh;
}

.result {
	margin: 2.5vh 0;
	align-self: center;
	font-size: 2rem;
}

.button {
	align-self: center;
	width: 15vw;
	height: 5vh;
	border-radius: 10px;
	background-color: var(--yellow-button);
}

button {
	border: none;
	font: inherit;
	color: #202A45;
	cursor: pointer;
	outline: none;
	font-size: 1.5rem;
}

hr {
	width: 30vw;
	margin-left: 0;
}