@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
button {
    background: #FEC126;
    border-radius: 0.3rem;
    border: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    color: #232E4A;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    
}

