.pnlm-about-msg {
  visibility: hidden;
  a {
    visibility: hidden;
  }
}

.homepage-container {
  width: 100vw;
  height: 100vh;
}

#overlay-root {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
