@import "../../variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-yellow;
}

.box {
  position: relative;
  padding: 20px;
  width: 300px;
  height: 275px;
  border-radius: 8px;
  background-color: $dark;
  opacity: 95%;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.creditstext {
  font-size: 1.5rem;
  display: flex;
  height: calc(100% - 3rem - 10px);
  flex-direction: column;
  color: rgb(250, 225, 81);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.creditstext li {
  margin: 0;
}

.close {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: $secondary-yellow;
  cursor: pointer;
  position: absolute;
  background: transparent;
  right: 20px;
}
