@import "../../variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-yellow;
}

.box {
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: $dark;
  opacity: 95%;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 10px;
}

.creditstext {
  font-size: 1.5rem;
  display: flex;
  height: calc(100% - 3rem - 40px);
  flex-direction: column;
  color: rgb(250, 225, 81);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.creditstext li {
  margin: 0;
}
