.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}

.logoContents:nth-child(1) {
  color: var(--primary-yellow);
}

.logoContents:nth-child(2) {
  color: var(--secondary-yellow);
}
