@import "../../variables";

input {
  display: flex;
  border-radius: 3;
}

.label {
  color: white;
  font-size: 100%;
}

input {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
  height: 40px;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: $light-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sheet {
  color: $yellow-button;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.form {
  flex-direction: column;
}

.button {
  margin-top: 10px;
  align-self: center;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: $yellow-button;
  border: none;
  font: inherit;
  color: #202a45;
  outline: none;
  font-size: 1.5rem;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background-color: darken($yellow-button, 10%);
}

form {
  display: flex;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.register {
  margin-top: 10px;
  text-align: center;
}

.blue {
    color: #73889A;
    cursor: pointer;
}

.blue:hover {
  color: darken(#73889A, 10%);
}