@import "../../variables";

input {
  display: flex;
  border-radius: 3;
}

.label {
  color: white;
  font-size: 100%;
}

input {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
  height: 40px;
  font: inherit;
}

input:focus,
input:valid {
  outline: 0;
  border-color: red;
}

input:nth-of-type(1),
input:nth-of-type(2) {
  background-color: transparent;
  border: 0;
  border-bottom: 2px $secondary-yellow solid;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sheet {
  color: $yellow-button;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.form {
  flex-direction: column;
}

.button {
  margin-top: 10px;
  align-self: center;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  background-color: $yellow-button;
  border: none;
  font: inherit;
  color: #000000;
  outline: none;
  font-size: 1.2rem;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.button:hover {
  background-color: darken($yellow-button, 10%);
}

form {
  display: flex;
}

h1 {
  padding-bottom: 20px;
  text-align: center;
}

.register {
  margin-top: 10px;
  text-align: center;
}

.blue {
  color: #bdc072;
  cursor: pointer;
}

.blue:hover {
  color: darken(#bdc072, 10%);
}

input:-webkit-autofill {
  transition: background-color 10000000s ease-in-out 0s, color 10000000s ease-in-out 0s;
}

