$dark: hsl(300, 1%, 14%);
$dark-line: hsl(300, 1%, 35%);
$navbar-dark: hsl(240, 7%, 14%);
$light-dark: hsl(0, 0%, 60%);
$yellow-button: hsl(43, 90%, 40%);
$primary-yellow: hsl(65, 100%, 60%);
$secondary-yellow: hsl(52, 100%, 50%);
$rank-one: hsl(49, 82%, 54%);
$rank-two: hsl(224, 24%, 59%);
$rank-three: hsl(38, 46%, 67%);
$leaderboard-header: hsl(52, 100%, 50%);
$leaderboard-secondary: hsl(0, 1%, 74%);
$navbar-height: 60px;
$roundbottomBar: hsl(222, 38%, 21%);
