$dark: hsl(300, 1%, 14%);
$navbar-dark: hsl(240, 7%, 14%);
$light-dark: hsl(0, 0%, 60%);
$yellow-button: hsl(43, 90%, 40%);
$primary-yellow: hsl(65, 100%, 60%);
$secondary-yellow: hsl(52, 100%, 50%);
$white-text: #ffffff;
$exploration: #8eda87;
$timed: #f17e7e;
$unranked: #7cbeed;
$competitive: #ed91de;