:root {
  --dark: hsl(300, 1%, 14%);
  --navbar-dark: hsl(240, 7%, 14%);
  --light-dark: hsl(0, 0%, 60%);
  --yellow-button: hsl(43, 90%, 40%);
  --primary-yellow: hsl(65, 100%, 60%);
  --secondary-yellow: hsl(52, 100%, 50%);
}

html {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.icon {
  width: 100px;
  margin-right: 16px;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(
    270deg,
    hsl(0, 48%, 27%),
    hsl(64, 48%, 27%),
    hsl(133, 48%, 27%),
    hsl(196, 48%, 27%),
    hsl(271, 48%, 27%),
    hsl(307, 48%, 27%)
  );
  background-size: 1200% 1200%;

  -webkit-animation: bgGrad 30s ease infinite;
  -moz-animation: bgGrad 30s ease infinite;
  animation: bgGrad 30s ease infinite;
}

.light-text {
  color: var(--light-dark);
}

@-webkit-keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgGrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
