@import '../../variables';

.dropDownItem {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.dropDownText {
  padding: 5px 0 0 0;
  text-align: right;
  text-decoration: none;
  font-size: 0.8em;
  color: $navbar-dark;
}

a:hover {
  color: $primary-yellow;
}