@import "../../variables";

.dropDownItem {
  display: flex;
  gap: 10px;
  align-items: left;
}

.dropDownText {
  padding: 5px 0 0 0;
  text-decoration: none;
  font-size: 0.8em;
  color: white;
}

a:hover {
  color: $secondary-yellow;
}
