@import "../../variables";

.card {
  width: 400px;
  height: 550px;
  background-color: darken($dark, 10%);
  display: flex;
  margin: 0 5px;
  flex-direction: column;
  transition: transform 0.3s;
  border-radius: 5px;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
}

.cardImage {
  border-radius: inherit;
  width: inherit;
  height: 350px;
}

.cardTextBox {
  text-align: center;
  padding: 10px;
  height: inherit;
}

.cardTitle {
  margin: auto;
  font-size: 3rem;
}

.center {
  align-content: center;
}

.cardText {
  font-size: 1.2rem;
  margin: 0px 25px;
}
