button {
    background: #FEC126;
    border-radius: 0.3rem;
    border: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(223, 36%, 21%);
    font-weight: 400;
}